.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  opacity: 0.8 !important;
  padding: 5px 10px;
  border-radius: 30px;
  top: 50% !important;
  color: black !important;
}

.swiper-button-disabled {
  opacity: 0 !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.2rem !important;
  font-weight: 700 !important;
}
